---
// Import the necessary dependencies.
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";
import Icon from "@components/ui/icons/Icon.astro";
import ContactForm from "@/components/ui/forms/ContactForm";
// Define the variables that will be used in this component
const title: string = "문의하기"
const subTitle: string =
  "도입을 고려하고 계시거나 질문이 있으신가요? 프리즈모버스의 툴과 서비스를 통해 완벽한 솔루션을 찾아보세요.";
const formTitle: string = "아래 양식을 작성해주세요";
const formSubTitle: string = "1-2 영업일 내에 회신드리겠습니다.";
 
---

<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="text-center">
      <h1
        class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
      >
        {title}
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    </div>

    <div class="mt-12 grid items-center gap-6 lg:grid-cols-2 lg:gap-16">
      <div class="flex flex-col rounded-xl p-4 sm:p-6 lg:p-8">
        <h2
          class="mb-8 text-xl font-bold text-neutral-700 dark:text-neutral-300"
        >
          {formTitle}
        </h2>
        <!-- Form for user input with various input fields.-->
        <!-- Each field utilizes a different input component for the specific type of input (text, email, phone, and textarea)-->
        <ContactForm client:idle formSubTitle={formSubTitle}/>
      </div>

      <!--ContactIconBlocks are used to display different methods of contacting, including visiting office, email, browsing knowledgebase, and FAQ.-->
      <div class="divide-y divide-neutral-300 dark:divide-neutral-700">
        <!-- <ContactIconBlock
          heading="FAQ"
          content="Explore our FAQ for quick, clear answers to common queries."
          isLinkVisible={true}
          linkTitle="Visit FAQ"
          linkURL="#"
          isArrowVisible={true}
          ><Icon name="chatBubble" />
        </ContactIconBlock> -->

        <ContactIconBlock
          heading="프리즈모버스에 방문하세요"
          content="prismO'verse"
          isAddressVisible={true}
          addressContent="서울특별시 종로구 동숭길 122-6 307호"
          ><Icon name="mapPin" />
        </ContactIconBlock>

        <ContactIconBlock
          heading="이메일로 연락하세요"
          content="서면 문의를 선호하신다면, 아래 이메일로 문의 내용을 남겨주세요."
          isLinkVisible={true}
          linkTitle="support@prismoverse.com"
          linkURL="mailto:support@prismoverse.com"
          ><Icon name="envelopeOpen" />
        </ContactIconBlock>
      </div>
    </div>
  </div>
</section>


